html(lang='en')
    head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= 'Dev Home'
    link(rel="stylesheet", href="css/styles.css" type="text/css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    body
    .container-fluid
        .header
        h1.text-primary.text-center Dev Home
        p.text-center A blog all about Developers, their tools and works.
        .main
        each article in collections.articles
            article.content-article
            header
                p
                span.timestamp= article.date
                h3